@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  touch-action: manipulation;
}

body {
  @apply bg-dcq-gray text-dcq-black font-sans;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

button {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
  @apply font-heading;
}
